<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link
	href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;700&display=swap"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/appStyle.css}">
<link
	href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400;500;600&display=swap"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
</head>
<body>
	<div id="navbar">
		<div class="brand">
			<a href="/"><i class="fas fa-video"></i> MovieInfo</a>
		</div>
		<form class="search" action="/results" method="GET">
			<input class="movie-input" type="text"
				placeholder="Enter movie keyword" name="movie">
			<button>
				<i class="fas fa-search"></i>
			</button>
		</form>
	</div>
		<div class="container">
		<div th:if="${#lists.isEmpty(favouritesmovies)}">
 <h3> No Favourites added , please add and come back!!</h3>
</div>
		<div th:each="movie : ${favouritesmovies}" class="card">
		<form th.action="@{/deletefav}" action="deletefav"
				th.object="${delMovie}" th:method="delete">
		<div class="card-image-box">
					<img th:src="${movie.Poster}"
						onerror="this.src ='https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQkmpiE3saxLv17jlQVpffuUAAtU95HJoaPRw&amp;usqp=CAU'"
						height="250px" , width="400px">
				</div>
				<div class="card-title">
					<p th:text="${movie.Title}" th:field="*{title}" th:attr="value = ${movie.Title}"></p>
                    <input type="hidden" th:attr="field = *{title} , value = ${movie.Title}" name="Title"/>
					
				</div>
				<div style="display: flex; flex-direction: row; align-items: center">
					<label> Year :</label>
					<p th:text="${movie.Year}" th:field="*{Year}" th:value="${movie.Year}"></p>
				</div>
				<div style="display: flex; flex-direction: row; align-items: center">
					<label> Type :</label>
					<p th:text="${movie.Rated}" th:field="*{Rated}" th:value="${movie.Rated}"></p>
				</div>
				<div style="display: flex; flex-direction: row; align-items: center">
					<label> Released :</label>
					<p th:text="${movie.Year}" th:field="*{Released}" th:value="${movie.Year}"></p>
				</div>
				<div class="card-description">
				  <button name="submit" value="0" type="submit">Delete from Favourites List</button>
				  </div>
				  </form>
		</div>
		
		</div>
		</div>
</body>
</html>
